@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Nunito:wght@500&display=swap");
/* FOOTER */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,600&family=Roboto+Condensed:ital,wght@1,500&display=swap");
.footer {
  background-color: #f8f9fa;
  padding: 35px 0; }
  .footer__container {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .footer__logo {
    max-width: 100px; }
  .footer__links {
    display: flex;
    justify-content: space-around; }
    .footer__links--pages {
      color: #333;
      text-decoration: none;
      font-size: 20px;
      font-family: "Roboto condensed", sans-serif; }
      .footer__links--pages:hover {
        color: orange; }
  @media (min-width: 633px) {
    .footer__container {
      justify-content: space-between;
      align-items: center; }
    .footer__links {
      flex: .75;
      display: flex;
      justify-content: space-around;
      margin: 0; } }
  @media (max-width: 632px) {
    .footer__container {
      flex-direction: column;
      align-items: center; }
    .footer__logo {
      max-width: 140px;
      margin-left: 5%; }
    .footer__links {
      margin-top: 15px;
      flex-direction: column;
      text-align: center; }
    .footer__social--icons {
      margin-top: 15px; } }

.navegador {
  height: 132px;
  padding: 20px 0;
  background-color: #f8f9fa; }
  .navegador__barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px; }
  .navegador__logo {
    display: flex;
    align-items: center; }
  .navegador__img {
    max-width: 130px;
    height: auto;
    width: 100%;
    transition: all 0.3s; }
    .navegador__img:hover {
      transform: scale(1.2); }
  .navegador__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 50px;
    justify-content: flex-end; }
  .navegador__paginas {
    text-decoration: none;
    color: black;
    font-size: 22px;
    font-family: "Roboto condensed", sans-serif;
    transition: color 0.5s, transform 0.5s;
    width: 120px;
    display: block;
    text-align: center; }
    .navegador__paginas:hover {
      color: orange;
      transform: scale(1.2); }
  .navegador__boton {
    font-family: "Roboto condensed", sans-serif;
    font-size: 23px;
    transition: all 0.3s;
    background-color: #ffb52a;
    border-radius: 10px;
    border: none; }
    .navegador__boton:hover {
      transform: scale(1.1); }
  @media (max-width: 632px) {
    .navegador .navegador__barra {
      display: flex;
      flex-direction: column;
      padding: 0 0 10px;
      background-color: #f8f9fa; }
    .navegador .navegador__logo {
      margin-bottom: 10px; }
    .navegador .navegador__list {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 8px; } }
  @media (max-width: 632px) {
    .navegador .navegador__barra {
      display: flex;
      flex-direction: column;
      padding-bottom: 10px;
      background-color: #f8f9fa;
      width: 100%; }
    .navegador .navegador__logo {
      margin-bottom: 10px; }
    .navegador .navegador__list {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 8px; } }

* {
  margin: 0;
  list-style: none;
  text-decoration: none; }

body {
  background-color: #FFEE58;
  max-width: 100%; }

@media (max-width: 632px) {
  main {
    margin-top: 278px; } }
.sucursal-box {
  padding: 20px;
  text-align: center;
  display: grid;
  place-items: center; }

.cajas__item {
  border: 1px solid transparent;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
  width: 80%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fcd972; }
  .cajas__item--title {
    background-color: burlywood;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
    text-align: center; }
.cajas__img {
  max-width: 100%;
  margin-bottom: 10px; }
.cajas__foto {
  border-radius: 10px; }

@media (min-width: 768px) {
  .sucursal-box {
    width: 80%;
    margin: 0 auto; } }
.sabores {
  font-family: "Nunito", sans-serif;
  font-size: 20px; }

.sabores-box {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }

.sabor-item {
  border: 1px solid transparent;
  border-radius: 10px;
  padding: 15px;
  margin: 15px;
  text-align: center;
  width: 200px;
  background-color: #e9b23d; }

.sabor-item__title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px; }

.sabor-item__description {
  font-size: 14px;
  color: #666; }

.sabor-item__list {
  list-style-type: none;
  padding: 0; }

.sabor-item__list li {
  margin-bottom: 5px; }

.contenedor {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 90%;
  margin: 40px auto 0;
  padding: 20px;
  gap: 20px;
  box-sizing: border-box; }
  @media (max-width: 1200px) {
    .contenedor {
      grid-template-columns: repeat(3, 1fr); } }
  @media (max-width: 900px) {
    .contenedor {
      grid-template-columns: repeat(2, 1fr); } }
  @media (max-width: 480px) {
    .contenedor {
      grid-template-columns: 1fr; } }

.novedad {
  background-color: #00ff004d;
  padding: 10px;
  border: 2px solid green;
  border-radius: 10px;
  overflow: hidden; }
  .novedad__img {
    width: 100%;
    max-height: 150px;
    display: block;
    margin-bottom: 10px;
    border-radius: 12px; }
  .novedad__titulo {
    overflow: hidden;
    padding-bottom: 2px;
    text-align: center; }

.titulo-principal {
  text-align: center;
  padding-top: 20px; }

.imagen-destacada {
  width: 100%;
  height: auto;
  max-height: 70vh;
  display: block;
  margin: 0 auto; }

.bienvenida {
  text-align: center;
  max-width: 1000px;
  margin: 0 auto; }
  .bienvenida__h2 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 20px; }
  .bienvenida__p {
    font-family: "Roboto condensed", sans-serif;
    font-size: 1.4em;
    color: black;
    line-height: 1.5; }

.carousel-container {
  margin-bottom: 20px;
  position: relative;
  z-index: 0; }

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  border-radius: 10px; }

.container {
  padding: 20px; }

.grid-item {
  padding: 20px;
  text-align: center;
  border-radius: 12px;
  border: 1px solid #b2dd4c;
  margin: 10px;
  background-color: #ffdd85; }

.grid-item img {
  max-width: 100%;
  height: auto;
  border: 1px solid #b2dd4c;
  border-radius: 10px; }

p {
  font-family: "nunito";
  color: black;
  font-size: 20px; }

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr; } }
.madre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px; }
  .madre__label {
    width: 70vh;
    max-width: 80vh; }

/*# sourceMappingURL=style.css.map */
