@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Nunito:wght@500&display=swap");
/* FOOTER */
.footer {
  background-color: #f8f9fa;
  padding: 35px 0;
  height: 120px;
  width: 100%;
  margin-top: auto; }

.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* Cambiado a space-between para alinear los elementos al extremo */ }

.footer__logo {
  max-width: 100px; }

.col-12 col-sm mx-auto {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.footer__links--pages {
  color: #333;
  text-decoration: none;
  padding: 0 30px;
  font-size: 20px; }

@media (max-width: 576px) {
  .footer__container {
    flex-direction: column;
    /* Cambia a disposición vertical */
    align-items: center;
    /* Alinea los elementos al centro */ }

  .footer__links {
    margin-top: 15px;
    /* Espaciado entre los enlaces y el resto */ }

  .footer__social--icons {
    margin-top: 15px;
    /* Espaciado entre los íconos de redes sociales y el resto */ } }
/* Estilos para dispositivos medianos y grandes */
@media (min-width: 577px) {
  .footer__container {
    justify-content: space-between;
    /* Alinea los elementos al extremo */
    align-items: center;
    /* Alinea verticalmente */ }

  .footer__links {
    flex: 1;
    /* Ocupa el espacio disponible */
    display: flex;
    justify-content: space-around;
    /* Distribuye los enlaces horizontalmente */
    margin: 0;
    /* Elimina el margen agregado en dispositivos pequeños */ } }
@media (min-width: 575px) and (max-width: 1404px) {
  body {
    width: 100vw;
    /* Ancho relativo al 100% del viewport width */
    max-width: 100%;
    /* Establece el ancho máximo al 100% para asegurarlo */ } }
.navbar .container-fluid {
  margin-top: 20px;
  margin-bottom: 20px; }

.navbar-brand img {
  width: auto;
  height: 100px;
  transition: all 0.3s; }

.footer__logo {
  max-width: 100px;
  margin-right: 300px;
  /* Agregar margen derecho al logo */ }

.navbar-brand img:hover {
  transform: scale(1.2); }

.navbar-nav .nav-link {
  font-size: 25px;
  /* Tamaño de fuente para los enlaces */
  transition: color 0.5s, transform 0.5s;
  /* Transición suave para el cambio de color y escala */
  color: #222221;
  margin-right: 30px;
  /* Espaciado entre elementos */
  display: inline-block;
  /* Para mantener el tamaño sin cambio al hacer hover */ }

.navbar-nav .nav-link:hover {
  color: orange;
  /* Cambio de color al pasar el cursor */
  transform: scale(1.2);
  /* Aumento de tamaño al pasar el cursor */ }

.navbar-nav .btn {
  font-size: 25px;
  /* Tamaño de fuente para los botones */
  padding: 8px 16px;
  /* Ajustando el relleno para que los botones sean más grandes */
  transition: all 0.3s;
  /* Transición suave para los cambios */
  font-weight: bold;
  /* Hacer el texto en negrita o más grueso */
  margin-right: 30px;
  /* Espaciado entre elementos */
  display: inline-block;
  /* Para mantener el tamaño sin cambio al hacer hover */ }

.navbar-nav .btn:hover {
  transform: scale(1.1);
  /* Aumento de tamaño al pasar el cursor */ }

* {
  margin: 0;
  list-style: none; }

body {
  background-color: #FFEE58;
  /* Fondo con gradiente dorado */
  max-width: 100%;
  /* Establecer el ancho máximo al 100% */ }

#PortadaPrincipal {
  position: relative;
  background-color: #FFEE58;
  /* Fondo con gradiente dorado */
  display: flex;
  justify-content: center;
  /* Centrar horizontalmente */
  align-items: center;
  /* Centrar verticalmente */
  height: 100vh;
  margin: 0;
  /* Elimina cualquier margen interior */ }

#PortadaPrincipal h2 {
  position: absolute;
  top: 5%;
  /* Posición inicial desde arriba */
  left: 5%;
  /* Posición inicial desde la izquierda */
  color: black;
  /* Cambia el color del texto a negro o el que prefieras */
  text-align: center;
  /* Alinea el texto al centro */
  opacity: 0;
  /* Establece la opacidad inicial en 0 para que esté oculto */
  transition: opacity 0.5s ease-in, top 1s ease-out;
  /* Agrega transiciones */ }

#PortadaPrincipal:hover h2 {
  top: 10%;
  /* Posición final, ajustada hacia abajo */
  opacity: 0.7;
  /* Reduce la opacidad del texto cuando se pasa el mouse */ }

/* Estilo para el grid-container con color de fondo amarillo */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  background-color: #FFEE58;
  /* Color de fondo para el grid */
  border-radius: 10px;
  /* Borde redondeado opcional */
  margin-left: -20px;
  /* Extiende el color al lado izquierdo */
  margin-right: -20px;
  /* Extiende el color al lado derecho */ }

/* Estilo para el grid */
.grid-item {
  padding: 20px;
  text-align: center;
  border-radius: 12px;
  border: 1px solid black;
  margin: 10px; }

.grid-item img {
  max-width: 100%;
  height: auto;
  border: 1px solid black;
  /* Agregar borde a las imágenes */
  border-radius: 10px;
  /* Aplicar también a las imágenes */ }

/* Estilo para el carrusel-container */
.carousel-container {
  margin-bottom: 20px; }

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
    /* Cambio de columnas en dispositivos móviles */ } }

/*# sourceMappingURL=style.css.map */
