.list-group-item a {
    color: orange;
}

.list-group-item a:hover {
    color: red;
    font-size: 1.1em;



}
.btn {
    font-weight: 600;
    color: rgb(0, 0, 0);
    padding: 9px 25px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.btn:hover{
    background-color: gold;
    transform: scale(1.1);
}
