@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Nunito:wght@500&display=swap");
/* FOOTER */
.footer {
  background-color: #f8f9fa;
  padding: 35px 0; }

.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.footer__logo {
  max-width: 100px; }

.footer__links {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 0; }

.footer__links--pages {
  color: #333;
  text-decoration: none;
  font-size: 16px; }

@media (min-width: 577px) {
  .footer__container {
    justify-content: space-between;
    align-items: center; }

  .footer__links {
    flex: 1;
    display: flex;
    justify-content: space-around;
    margin: 0; } }
@media (max-width: 576px) {
  .footer__container {
    flex-direction: column;
    align-items: center; }

  .footer__logo {
    max-width: 100%;
    margin-left: 40%; }

  .footer__links {
    margin-top: 15px;
    flex-direction: column;
    text-align: center; }

  .footer__social--icons {
    margin-top: 15px; } }
.navbar .container-fluid {
  margin-top: 20px;
  margin-bottom: 20px; }

.navbar-brand img {
  width: auto;
  height: 100px;
  transition: all 0.3s; }

.footer__logo {
  max-width: 100px;
  margin-right: 300px; }

.navbar-brand img:hover {
  transform: scale(1.2); }

.navbar-nav .nav-link {
  font-size: 25px;
  transition: color 0.5s, transform 0.5s;
  color: #222221;
  margin-right: 30px;
  display: inline-block; }

.navbar-nav .nav-link:hover {
  color: orange;
  transform: scale(1.2); }

.navbar-nav .btn {
  font-size: 25px;
  padding: 8px 16px;
  transition: all 0.3s;
  font-weight: bold;
  margin-right: 30px;
  display: inline-block; }

.navbar-nav .btn:hover {
  transform: scale(1.1); }

* {
  margin: 0;
  list-style: none; }

body {
  background-color: #FFEE58 !important;
  max-width: 100%; }

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  border-radius: 10px; }

.container {
  padding: 20px; }

.grid-item {
  padding: 20px;
  text-align: center;
  border-radius: 12px;
  border: 1px solid black;
  margin: 10px;
  background-color: #ffdd85; }

.grid-item img {
  max-width: 100%;
  height: auto;
  border: 1px solid black;
  border-radius: 10px; }

p {
  font-weight: bold; }

.carousel-container {
  margin-bottom: 20px; }

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr; } }
.sucursal-box {
  padding: 20px;
  text-align: center; }

.cajas__item {
  border: 1px solid transparent;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
  width: 80%;
  box-sizing: border-box;
  display: inline-block;
  background-color: #fcd972; }

.cajas__item-title {
  background-color: #ffffff;
  border-radius: 10px; }

@media (min-width: 768px) {
  .sucursal-box {
    width: 80%;
    margin: 0 auto; } }
.sabores-box {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }

.sabor-item {
  border: 1px solid transparent;
  border-radius: 10px;
  padding: 15px;
  margin: 15px;
  text-align: center;
  width: 200px;
  background-color: #fcd972; }

.sabor-item__title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px; }

.sabor-item__description {
  font-size: 14px;
  color: #666; }

.sabor-item__list {
  list-style-type: none;
  padding: 0; }

.sabor-item__list li {
  margin-bottom: 5px; }

.novedad-item {
  position: relative;
  overflow: hidden;
  border: 2px solid rgba(0, 128, 0, 0.5);
  background-color: #00ff004d;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 30px; }

.novedad-item img {
  width: 100%;
  max-height: 150px;
  display: block;
  margin-bottom: 10px; }

.novedad-item h4, .novedad-item p {
  margin-top: 10px; }

.container h3 {
  text-align: center;
  margin-top: 50px; }

.imagen-destacada {
  width: 100%;
  height: auto;
  max-height: 70vh;
  display: block;
  margin: 0 auto; }

.container {
  text-align: center;
  max-width: 800px;
  margin: 0 auto; }

h1 {
  font-size: 2.5em;
  color: #333;
  margin-bottom: 20px; }

p {
  font-size: 1.2em;
  color: #666;
  line-height: 1.5; }

/*# sourceMappingURL=style.css.map */
