
.madre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    &__label{
        width:70vh;
        max-width: 80vh;
    }
}

