/* FOOTER */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
  }
  
  .footer {
    background-color: rgb(255, 255, 255);
    padding: 80 0;
  }
  
  .caja {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
  }
  
.footerLogoImg {
    width: 200px;
    height: 200px;
    border: 1px solid black;
}
  
  .box {
    width: 33%;
    float: left;
  }
  
  .footerContacto li a {
    color: black;
    font-size: 25px;
    text-decoration: none;
  }
  