
.navbar .breadcrumb .navbar-brand .logo{
  width: 10%;
  height: 10%;
  transition: all 0.3s;
}

.navbar .breadcrumb .navbar-brand .logo:hover {
  transform: scale(1.2);
}


.navbar .breadcrumb{
  background-color: rgb(252, 252, 252);
  display: flex;
  justify-content: space-between;
  padding: 5px 10%;
  height: 10%;
}

.header .logo .img:hover{
  transform: scale(1.2);
}

.breadcrumb .list{
  display: inline-block;
  padding: 0 25px;
  list-style: none;
}
.navbar .breadcrumb .list{
  font-size: 25px;
  color: rgb(3, 3, 3);
  text-decoration:  none;
  ;
}
.navbar .breadcrumb .list:hover {
  color: rgb(245, 104, 4);
  transform: scale(1.2) 
  

;
}
.navbar .breadcrumb .list {
  color: rgb(0, 0, 0);
  list-style: none;
  transition: all 0.3s ease 0s;
}
.navbar .breadcrumb .btn {
  color: rgb(0, 0, 0);
  font-weight: 600;
  padding: 9px 25px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.navbar .breadcrumb .btn:hover{
  background-color: gold;
  transform: scale(1.1);
}

.navbar .breadcrumb .list .contacto{
  margin-top: 14px;
}

