
.navegador {
  height: 132px;
  padding: 20px 0;
  background-color: #f8f9fa;
  &__barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
  }
  &__logo {
    display: flex;
    align-items: center;
  }
  &__img {
    max-width: 130px;
    height: auto;
    width: 100%;
    transition: all 0.3s;
    &:hover {
      transform: scale(1.2);
    }
  }
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 50px;
    justify-content: flex-end;
  }
  &__paginas {
    text-decoration: none;
    color: black;
    font-size: 22px;
    font-family: "Roboto condensed", sans-serif;
    transition: color 0.5s, transform 0.5s; 
    width: 120px;
    display: block;
    text-align: center; 
    &:hover {
      color: orange; 
      transform: scale(1.2);
    }
  }
  &__boton {
    font-family: "Roboto condensed", sans-serif;
    font-size: 23px; 
    transition: all 0.3s; 
    background-color: rgb(255, 181, 42);
    border-radius: 10px;
    border: none;
    &:hover {
      transform: scale(1.1);
    }
  }
  @media (max-width: 632px) {
    .navegador__barra {
      display: flex;
      flex-direction: column;
      padding: 0 0 10px; 
      background-color: #f8f9fa;
    }

    .navegador__logo {
      margin-bottom: 10px; 
    }

    .navegador__list {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 8px; 
    }
  }
  @media (max-width: 632px) {
    .navegador__barra {
      display: flex;
      flex-direction: column;
      padding-bottom: 10px; 
      background-color: #f8f9fa;
      width: 100%;
    }

    .navegador__logo {
      margin-bottom: 10px; 
    }

    .navegador__list {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 8px; 
    }
  }
}