.sucursal-box {
    padding: 20px;
    text-align: center;
    display: grid; 
    place-items: center; 
}
.cajas {
    &__item {
        border: 1px solid transparent; 
        margin-bottom: 20px; 
        padding: 10px;
        border-radius: 10px; 
        width: 80%; 
        box-sizing: border-box; 
        display: flex; 
        flex-direction: column; 
        align-items: center; 
        background-color: #fcd972;
        &--title {
            background-color: burlywood;
            border-radius: 10px;
            margin-bottom: 10px; 
            padding: 5px; 
            width: 100%; 
            text-align: center; 
        }
    }
    &__img {
        max-width: 100%; 
        margin-bottom: 10px; 
    }
    &__foto{
        border-radius: 10px;
    }
}

@media (min-width: 768px) {
    .sucursal-box {
        width: 80%;
        margin: 0 auto;
    }
}